---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../utils";

const allBlogPosts = await getCollection("blog");
const sortedBlogPosts = allBlogPosts.sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);
const title = "Blog";
---

<Layout title={title}>
  <h1>{title}</h1>
  <ul class="list-none pl-0 space-y-4">
    {
      sortedBlogPosts.map((post) => (
        <li>
          <time datetime={post.data.date.toString()}>
            {formatDate(post.data.date)}
          </time>{" "}
          --- <a href={`/blog/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
